= GovukElementsErrorsHelper.error_summary @token,
  'There were problems submitting this form', ''

= form_for [:admin, @token] do |f|
  .field
    = f.text_field :requested_by
  .field
    = f.text_field :service_name
  .field
    = f.text_field :contact_email
  .field
    = f.collection_select :api_env, Token::API_ENVS, :to_s, :to_s, prompt: true
  .field
    .form-group
      = f.label :expires, class: 'form-label' do
        Expires
        %span.form-hint
          %p
            When this token will expire. Default is 1 year from issue.
        = f.date_field :expires, value: 1.year.from_now.to_date

  - if @token.client_pub_key.present?
    %p
      = f.text_area :client_pub_key, disabled: true, rows: 6
  - else
    .field
      .form-group
        = f.label :client_pub_key_file, class: 'form-label' do
          Client public key
          %span.form-hint
            %p
              Supplied by requester.
        = f.file_field :client_pub_key_file
        = f.hidden_field :client_pub_key, value: @token.client_pub_key


  - if @token.pgp_key.present?
    %p
      = f.text_area :pgp_key, disabled: true, rows: 10
  - else
    .field
      .form-group
        = f.label :pgp_key_file, class: 'form-label' do
          PGP/GPG public key
          %span.form-hint
            %p
              This will be used to encrypt the token so it can be sent securely.
        = f.file_field :pgp_key_file
        = f.hidden_field :pgp_key, value: @token.pgp_key

  .actions
    = f.submit @token.new_record? ? 'Create' : 'Save', class: 'button'
