= GovukElementsErrorsHelper.error_summary @token,
  'There were problems submitting this form', ''

= form_for [:admin, @token] do |f|
  .field
    = f.text_field :requested_by
  .field
    = f.text_field :service_name
  .field
    = f.text_field :contact_email
  .field
    = f.collection_select :api_env, Token::API_ENVS, :to_s, :to_s
  .field
    = f.label :expires
    = f.date_field :expires, value: 1.year.from_now.to_date
  .field
    = f.label :client_pub_key_file
    = f.file_field :client_pub_key_file
    = f.hidden_field :client_pub_key, value: @token.client_pub_key
  .field
    = f.label :pgp_key, 'PGP Key (used to encrypt generated token)'
    = f.file_field :pgp_key
  .actions
    = f.submit @token.new_record? ? 'Create' : 'Save', class: 'button'
