- content_for :page_title, "Token - " + Rails.configuration.app_title

%p#notice= notice

%p
  %b Issued at:
  = @token.issued_at || ''
%p
  %b Requested by:
  = @token.requested_by
%p
  %b Contact email:
  = @token.contact_email
%p
  %b Service name:
  = @token.service_name
%p
  %b Fingerprint:
  = @token.fingerprint
%p
  %b Api env:
  = @token.environment_name

%p
  %b Permissions:
  %ul
    - @token.permissions.map(&:regex).each do |permission_regex|
      %li= permission_regex

%p
  %b Expires:
  = l @token.expires rescue ''
%p
  %b Status:
  = @token.state.humanize

- if @token.active?
  = button_to 'Revoke', revoke_admin_token_path(@token), method: :put, data: { confirm: 'Are you sure?' }, class: 'button'
