%p#notice= notice

%p
  %b Issued at:
  = @token.issued_at || ''
%p
  %b Requested by:
  = @token.requested_by
%p
  %b Contact email:
  = @token.contact_email
%p
  %b Service name:
  = @token.service_name
%p
  %b Fingerprint:
  = @token.fingerprint
%p
  %b Api env:
  = @token.api_env
%p
  %b Expires:
  = l @token.expires rescue ''
%p
  %b Status:
  = @token.state.humanize

- if @token.active?
  = button_to 'Revoke', revoke_admin_token_path(@token), method: :put, data: { confirm: 'Are you sure?' }, class: 'button'
