= GovukElementsErrorsHelper.error_summary @provisioning_key,
  'There were problems submitting this form', ''

= form_for [:admin, @provisioning_key] do |f|

  .field
    = f.collection_select :api_env, ApiEnv.all, :to_s, :to_s, prompt: true

  .field
    = f.text_area :content

  .actions
    = f.submit 'Submit', class: 'button'
