= form_for @token do |f|
  - if @token.errors.any?
    #error_explanation
      %h2= "#{pluralize(@token.errors.count, "error")} prohibited this token from being saved:"
      %ul
        - @token.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :requested_by
    = f.text_field :requested_by
  .field
    = f.label :client_name
    = f.text_field :client_name
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :api_env
    = f.collection_select :api_env, Token::API_ENVS, :to_s, :to_s
  .field
    = f.label :client_public_key
    = f.file_field :client_public_key
  .actions
    = f.submit @token.new_record? ? 'Create' : 'Save'
