%h1 Requests for access tokens (#{@access_requests.count})

%table
  %thead
    %tr
      %th Date
      %th Contact email
      %th Requested by
      %th Reason
      %th Service name
      %th Env
      %th
      %th
      %th

  %tbody
    - @access_requests.each do |access_request|
      %tr
        %td= access_request.created_at
        %td= mail_to access_request.contact_email
        %td= access_request.requested_by
        %td= access_request.reason
        %td= access_request.service_name
        %td= access_request.api_env
        %td= link_to 'Show', [:admin, access_request]
        %td= link_to 'Approve', new_admin_token_path(access_request:access_request)
        %td= link_to 'Reject', [:admin, access_request], method: :delete, data: { confirm: 'Are you sure?' }
