- content_for :page_title, "Access request - " + Rails.configuration.app_title

%p#notice= notice

%p
  %b Contact email:
  = mail_to @access_request.contact_email
%p
  %b Requested by:
  = @access_request.requested_by
%p
  %b Reason:
  = @access_request.reason

%p
  %b Service name:
  = @access_request.service_name

%p
  %b API environment:
  = @access_request.environment_name

%p
  %b Client public key:
  %pre
    = @access_request.client_pub_key

- if @access_request.unprocessed?
  %p
    = link_to 'Approve', new_admin_token_path(access_request: @access_request), class: 'button'
    = link_to 'Reject', [:admin, @access_request], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
