%p#notice= notice

%p
  %b Contact email:
  = @access_request.contact_email
%p
  %b Requested by:
  = @access_request.requested_by
%p
  %b Reason:
  = @access_request.reason

%p
  %b Service name:
  = @access_request.service_name

%p
  %b API environment:
  = @access_request.api_env

%p
  %b Client public key:
  %pre
    = @access_request.client_pub_key
