- content_for :page_title, "Environments - " + Rails.configuration.app_title

%h1 Environments

%p Reload this page to ensure the information is up to date – it does not refresh automatically

%table
  %thead
    %tr
      %th Name
      %th Status
      %th Release version
      %th Release timestamp

  %tbody
    - @environments.each do |env|
      %tr
        %td= env.name
        %td= env.health
        %td= env.deployed_version
        %td= env.deployed_version_timestamp

%br

= link_to 'Request a token', new_access_request_url, class: 'button'
