- content_for :page_title, "Environment - " + Rails.configuration.app_title

%p#notice= notice

%p
  %b Issued at:
  = @environment.created_at || ''
%p
  %b Name:
  = @environment.name
%p
  %b Base URL:
  = @environment.base_url

= link_to 'Edit', edit_admin_environment_url(@environment), class: 'button'
