%h1 Requests for access tokens (#{@access_requests.count})

%table
  %thead
    %tr
      %th Date
      %th Email
      %th Name
      %th Reason
      %th App name
      %th Env
      %th
      %th
      %th

  %tbody
    - @access_requests.each do |access_request|
      %tr
        %td= access_request.created_at
        %td= mail_to access_request.email
        %td= access_request.name
        %td= access_request.reason
        %td= access_request.app_name
        %td= access_request.api_env
        %td= link_to 'Show', access_request
        %td= link_to 'Approve', new_token_path(access_request:access_request)
        %td= link_to 'Reject', access_request, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Access request', new_access_request_path
