%p#notice= notice

%p
  %b Email:
  = @access_request.email
%p
  %b Name:
  = @access_request.name
%p
  %b Reason:
  = @access_request.reason

%p
  %b App name:
  = @access_request.app_name

%p
  %b API environment:
  = @access_request.api_env
